body {
    display: inline-flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.button {
    display: inline-flex;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.true {
    color: white;
    background-color: magenta;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.false {
    color: white;
    background-color: orange;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.end {
    color: orange;
    font-weight: bold;
}

.multiple-choice:hover {
    background-color: orange;
}

.multiple-choice:active {
    background-color: #eeeeee;
}


.multiple-choice {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    color: orange;
    font-weight: bold;
}