body {
    display: inline-flex;
    flex-direction: column;
}

.button {
    display: inline-flex;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.true {
    color: white;
    background-color: magenta;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.false {
    color: white;
    background-color: orange;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.timer {
    color: blue;
}